@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); 
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}

.about {
    height: auto;
    padding-top: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    animation: fadeIn 1s ease-in-out; 
}
