.education {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a1a2e;
    padding: 40px; 
}

.education h2 {
    margin-bottom: 30px; 
    letter-spacing: 2px;
    color: #f5f5f5; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.education-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    background-color: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
    width: 300px;
    transition: transform 0.3s, box-shadow 0.3s; 
    text-align: center; 
    border-radius: 0; 
    position: relative;
    z-index: 1; 
}

.card:hover {
    transform: translateY(-8px) scale(1.05); 
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.); 
}

.icon-container {
    padding: 20px; 
    color: white;
    border-radius: 12px 12px 0 0;
}

.card-icon {
    font-size: 6rem;
    color: #ffffff; 
    transition: transform 0.3s;
}

.card:hover .card-icon {
    transform: scale(1.1); 
    color: #00d2ff;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.3rem; 
}

.card-text {
    font-size: 1rem; 
    color: #fff; 
}
